<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "myfortune" class = "HappyFortuneService">
   </bean>
   <bean id = "mycoach" class = "TrackCoach">
   <constructor-arg ref="myfortune"/>
   </bean>
   <bean id = "mycoach1" class = "FootballCoach">
   <constructor-arg ref="myfortune"/>
   </bean>
   <bean id="ccoach" class="CricketCoach">
   <property name="FortuneService" ref="myfortune"/>
   <property name="emailAddress" value="e2b@gm.com"/>
   <property name="teamName" value="Barcelona"/>
   </bean>
</beans>